In [1]:
import pandas as pd

In [13]:
df = pd.read_csv('./yellow_tripdata_2024-01.csv', nrows=100).drop('Unnamed: 0', axis=1)

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [18]:
from sqlalchemy import create_engine

In [20]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [21]:
engine.connect()

In [22]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	"Airport_fee" FLOAT(53)
)

In [28]:
df_iter = pd.read_csv('yellow_tripdata_2024-01.csv', iterator=True, chunksize=100000)

In [29]:
df = next(df_iter).drop('Unnamed: 0', axis=1)

In [30]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [32]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [33]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

1000

In [35]:
from time import time
while True:
    t_start = time()
    df = next(df_iter).drop('Unnamed: 0', axis=1)

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('Inserted another chunk in %.3f second'%(t_end - t_start))

Inserted another chunk in 8.835 second
Inserted another chunk in 8.280 second
Inserted another chunk in 8.806 second
Inserted another chunk in 8.786 second
Inserted another chunk in 8.726 second
Inserted another chunk in 8.798 second
Inserted another chunk in 9.100 second
Inserted another chunk in 8.915 second
Inserted another chunk in 8.617 second
Inserted another chunk in 8.731 second
Inserted another chunk in 8.696 second
Inserted another chunk in 8.807 second
Inserted another chunk in 8.854 second
Inserted another chunk in 8.409 second
Inserted another chunk in 8.807 second
Inserted another chunk in 8.811 second
Inserted another chunk in 8.753 second
Inserted another chunk in 8.481 second
Inserted another chunk in 8.731 second
Inserted another chunk in 8.718 second
Inserted another chunk in 8.803 second
Inserted another chunk in 8.827 second
Inserted another chunk in 8.493 second
Inserted another chunk in 8.796 second
Inserted another chunk in 8.771 second
Inserted another chunk in 8.833 second

/tmp/ipykernel_6649/2888189821.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter).drop('Unnamed: 0', axis=1)

Inserted another chunk in 7.620 second
Inserted another chunk in 5.023 second

StopIteration: